/* ====================================================================
    Layout styles for margins, positioning etc
    Repetative styles is written in clockwise order,
    e.g. .push-up, .push-right, .push-down, .push-left etc.
   ==================================================================== */

/**
 *  1. Positioning & margins
 *  2. Dividers
 *  3. Object designs (circles, containers etc)
 *  4. Misc
 */

/** ==============================================
    1. Positioning & margins
    ============================================== */

.push-up {
    margin-bottom: $padding-default;
}

.push-right {
    margin-left: $padding-default;
}

.push-down {
    margin-top: $padding-default;
}

.push-left {
    margin-right: $padding-default;
}

.push-up-more {
    margin-bottom: $padding-extended;
}

.push-right-more {
    margin-left: $padding-extended;
}

.push-down-more {
    margin-top: $padding-extended;
}

.push-left-more {
    margin-right: $padding-extended;
}

.nudge-up {
    margin-bottom: $padding-nudge;
}

.nudge-right {
    margin-left: $padding-nudge;
}

.nudge-down {
    margin-top: $padding-nudge;
}

.nudge-left {
    margin-right: $padding-nudge;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.padd-right {
    padding-right: 20px;
}

.padd-left {
    padding-left: 20px;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

.inline {
    display: flex;
    align-items: center;
}

.vertical-align {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.float-bottom-right {
    position: absolute !important;
    right: 15px;
    bottom: 10px;
}

.nomargin {
    margin: 0px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.center-text {
    text-align: center;
}

/** ==============================================
    2. Divider
    ============================================== */

.divider {
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.divider-top {
    padding-top: 14px;
    margin-top: 12px;
}

.divider-right {
    padding-right: 14px;
    margin-right: 14px;
}

.divider-bottom {
    padding-bottom: 14px;
    margin-bottom: 12px;
}

.divider-left {
    padding-left: 14px;
    margin-left: 14px;
}

/** ==============================================
    3. Object designs (circles, containers etc)
    ============================================== */

%container-styles {
    margin: 10px 5px 5px 0;
    padding: 18px 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
}

.info-container {
    @extend %container-styles;
    background-color: rgba(0, 150, 136, 0.25);
}

.warn-container {
    @extend %container-styles;
    background-color: rgba(255, 95, 77, 0.25); // #fbe9e7
    color: #d50000;
}

.badge {
    border-radius: 9px;
    padding: 1px 5px;
    text-align: center;
}

.circle {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-medium {
    width: 24px;
    height: 24px;
}

.circle-large {
    width: 42px;
    height: 42px;
}

/** ==============================================
    1. Positioning & margins
    ============================================== */

.pointer {
    cursor: pointer !important;
}

.transparent {
    opacity: 0.5;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.hide-visibility {
    visibility: hidden;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.flipX {
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.flipY {
    transform: scaleY(-1);
    filter: FlipW;
    -ms-filter: "FlipW";
}