<div class="mat-typography">

    <h1>Demos for the NgPapilion library</h1>
    <div class="demo-cards" fxLayout fxLayoutGap="25px">
        <mat-card>
            <pap-message-container>
                <mat-icon icon>info</mat-icon>
                This is a simple message to grab the users attention.
            </pap-message-container>
            <pap-message-container class="push-down" type="warn">
                <mat-icon icon>warning</mat-icon>
                This is a warning message to alert the user.
            </pap-message-container>
        </mat-card>
    </div>
</div>